<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405312630465-intqdin00vg9hf62f1md96srchrp8ora.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405312630465-intqdin00vg9hf62f1md96srchrp8ora</string>
	<key>API_KEY</key>
	<string>AIzaSyCViKqNDhW18WyCLC7fXWG2qWnsO1OuY9M</string>
	<key>GCM_SENDER_ID</key>
	<string>405312630465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.threadsClone</string>
	<key>PROJECT_ID</key>
	<string>threads-clone-58bee</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-clone-58bee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405312630465:ios:f3c0e85e62909814296e40</string>
</dict>
</plist>